{% include 'header.html' %}

    <div class="container-fluid">

        <h4>Sobre o sistema &quot;Controle de Qualidade&quot; <small>Controle de Qualidade de Dados Observados</small></h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra mi leo, ac consectetur odio tincidunt a. Morbi at odio a nunc varius laoreet eget laoreet tellus. Pellentesque semper eros sed volutpat sagittis. Nulla a purus sit amet est consequat pharetra faucibus in velit. Nullam condimentum sagittis velit, id suscipit diam auctor ac. Quisque semper nisl ut libero volutpat, a.</p>

    </div><!-- /.container -->

    {% include 'footer.html' %}

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
</body>
</html>